body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color:#fe8502;
}
header {
    background-color: #ff9900;
    padding: 15px 0;
}

header .logo {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

header .logo img {
    width: 40px;
    margin-right: 10px;
}
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
}

.registro-form {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.registro-form h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.registro-form input[type="email"],
.registro-form input[type="tel"],
.registro-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.terms {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.terms input[type="checkbox"] {
    margin-right: 10px;
}

.registro-form button {
    width: 100%;
    padding: 10px;
    background-color: #fe8502;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
}

.registro-form button:hover {
    background-color: #fe8502;
}

.login-link {
    margin-top: 15px;
    font-size: 14px;
    color: #666;
}

@media (max-width: 768px) {
    .registro-form {
        padding: 20px;
        width: 90%;
    }
}
.page-name {
    position: absolute; 
    top: 0;
    left: 0;
    background-color: #fe8502; 
    color: white;
    padding: 10px 20px;
    font-size: 24px;
    font-weight: bold;
    z-index: 1000; 
}
.form-container {
    padding-top: 60px; 
}
.logo {
    width: 300px;
    height: 300px;
}
